<!DOCTYPE html>
<html ng-app="selectApp">
<head>
  <title>ng-select</title>
  <meta charset="utf-8">
  <script src="js/angular-1.3.0.js"></script>
  <script src="js/jquery.min.js"></script>
  <style type="text/css">
    * {
      font-family:'MICROSOFT YAHEI'
    }
    tr{
      border:1px solid #ccc;
      padding:6px;
    }
    .prog{
      height:4px;
      background:yellow;
    }
  </style>
</head>
<body >


  <table ng-controller="myCtrl">
    <thead>
      <tr>
        <th>姓名</th>
        <th>姓名</th>
        <th>姓名</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in lists">
        <td>{{item.name}}</td>
        <td>{{item.name}}</td>
        <td>{{item.name}}</td>
        <td>

          <div style="display:inline-block;" >
            <!-- <span>
              {{item.progress}}
            </span> -->

            <progre></progre>

          </div>
        </td>
      </tr>
    </tbody>
  </table>



    <script >

      var selectApp = angular.module('selectApp',[]);
      selectApp.controller('myCtrl',function($scope,$http){
          $scope.lists = [
            {
              name : 'amy',
              ifshow:true
            },{
              name : 'blue',
              ifshow:true
            },{
              name : 'duck',
              ifshow:true
            }
          ];



          // $scope.progress='';

          // $scope.ext = function(item){
          //     var index = $scope.lists.indexOf(item);
          //     $scope.lists[index].progress = parseInt(100*Math.random());

          // }

      })

      selectApp.directive("progre",function($interval){
          return {
              restrict:'AE',
              // scope:{
              //     progress:'@',
              //     starTimer:'&'
              // },
              replace:true,

              template:'<div><button ng-click="execute()" ng-disabled="canClick">执行</button><div class="prog">{{progress}}</div></div>',
              link:function(scope,element,attrs){
                    scope.isStop = true;
                    scope.execute = function(){
                      scope.canClick = true;

                      var timer = $interval(
                        function() {

                         scope.progress = parseInt(100*Math.random());

                           if(scope.progress > 80 ){
                               scope.isStop = false;
                            }else{

                            }

                            if (scope.isStop == false){
                                $interval.cancel(timer);
                                scope.canClick = false;
                            }

                        },
                        500
                    );

                        // scope.canClick = true;

                        // var timer = $interval(function () {

                        //   scope.progress = parseInt(100*Math.random());

                        //   if(scope.progress == 100 ){
                        //      isStop == false
                        //   }else{

                        //   }

                        //   if (isStop == false){
                        //       $interval.cancel(timer);
                        //       scope.canClick = false;
                        //   }

                        // },500);

                    }


              }
          }

      });





    </script>

</body>
</html>







